.arcconfig
*.xcuserstate
project.xcworkspace
project.xcworkspace/
xcuserdata/
build_time.h
# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
profile
fastlane/report.xml
*.moved-aside
DerivedData
output
output/
.idea/
.svn
.svn/
